@model List<CuaHangBiaOnline_62131086.Models.Sanpham_62131086>

@{
    ViewBag.Title = "Bia lon lớn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class=" bg-danger"><h3 style="padding-left:20px"> BIA LON LỚN</h3></div>
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6" style="margin-top:3%">
            <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">
                <img src=@Url.Content("~" +item.Anhbia.ToString()) class="img-responsive" alt="" width="400" height="400" style="object-fit:cover" />
            </a>
            <center>
                <h3>@item.Tensp</h3>
                <h3 style="color:red">Giá: @String.Format("{0:0,0}", @item.Giatien) VND</h3>
                <br />
                @using (Html.BeginForm("ThemGioHang", "GioHang_62131086", new { @iMasp = item.Masp, @strURL = Request.Url.ToString() }))
                {
                    <input style=" padding: 10px 20px; background-color: orange; color: white; border: none; border-radius: 4px" type="submit" value="THÊM VÀO GIỎ HÀNG" id="bgnGioHang" onclick="alert('Đã thêm vào giỏ hàng')" />

                }

            </center>

        </div>
    }

</div>

