<style type="text/css">
    .giohang{
        color:white;
        font-size:large
         
    }

</style>

<a href="@Url.Action("GioHang","GioHang_62131086")" class="giohang" >Giỏ Hàng<i class="fa fa-shopping-cart">
        </i> (@ViewBag.TongSoLuong)</a>

