@{
    ViewBag.Title = "Contact";
}
<h3>THÔNG TIN LIÊN HỆ</h3>

<address>
    Nguyễn Thị Xuân Mai
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0123979797
</address>

<address>
    <strong>Email:</strong>   <a href="#">mainguyen@gmail.com</a><br />
</address>